body {
  color: #36494E; 
  background-color: #96ADC8;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

nav>ul {
  font-size: 1.4rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  background: #D89D6A;
}

li * {
  display: block;
}

.selected {
  background: #A7E8BD;
}

a {
  text-decoration: none;
  color: black;
}

li span {
  text-align: center;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3rem; 
  padding-right: 3rem;
}

#hero {
  background-color: #D7FFAB;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

#hero>h1 {
  margin-bottom: 4rem;
}

button {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  background-color: #D89D6A;
  font-weight: bold;
  cursor: pointer;
}

#menu {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #FCFF6C;
}

#menu>div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
}

#menu img {
  width: 50%;
  height: 50%;
}

.text-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#intro {
  background-color: #FCFF6C;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4rem;
  margin-top: 4rem;
}

#features img {
  height: 10rem;
}

.img-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}